{{#if resume.projectsEnabled}}
  <section class="resume-section">
    <section class="sectionLeft">
      <h2 class="resumeSection">Projects</h2>
    </section>
    <section class="sectionRight">
      <div class="list">
        <ul>
          {{#each resume.projects}}
            <li class="projects">
              {{#if name}}
                <h3 class="title">
                  {{name}}
                  {{#if resume.linksEnabled}}{{#if url}}
                      <a href="{{url}}"><span class="icon"><svg
                            viewBox="0 0 24 24"
                            preserveAspectRatio="xMidYMid meet"
                            class="style-scope iron-icon"
                            style="pointer-events: none; display: block; width: 100%; height: 100%;"
                          ><g class="style-scope iron-icon"><path
                                d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"
                                class="style-scope iron-icon"
                              ></path></g></svg></span>
                      </a>
                    {{/if}}{{/if}}
                </h3>
              {{/if}}
              {{#if roles.length}}
                <h3 class="subtitle">{{#join roles ", "}}{{/join}}</h3>
              {{/if}}
              <h3 class="time">{{#if startDate}}{{startDate}}{{#if endDate}}
                    -
                    {{endDate}}{{else}} - present{{/if}}{{/if}}</h3>
              {{#if description}}
                <div class="description">
                  <p>{{{description}}}</p>
                </div>
              {{/if}}
              {{#if keywords.length}}
                <div style="margin-top: 5px;">
                  <p>
                    {{#each keywords}}
                      <span class="keyword">{{.}}</span>
                    {{/each}}</p>
                </div>
              {{/if}}
              {{#if highlights.length}}
                <ul class="highlights">
                  {{#each highlights}}
                    <li>{{.}}</li>
                  {{/each}}
                </ul>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </section>
    <div class="clearfix"></div>
  </section>
{{/if}}
