<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{#resume.basics}}{{name}} - {{label}}{{/resume.basics}}</title>
    {{#resume.basics}}<meta
        name="author"
        content="{{name}}"
      />{{/resume.basics}}
    <style>
      {{{css}}}
    </style>
  </head>
  <body>
    <script>
    const storageKey = "theme-preference";
    const onClick = () => {
      theme.value = theme.value === "light" ? "dark" : "light";
      setPreference();
    };
    const getColorPreference = () => {
      if (localStorage.getItem(storageKey)) return localStorage.getItem(storageKey);
      else
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
    };
    const setPreference = () => {
      localStorage.setItem(storageKey, theme.value);
      reflectPreference();
    };
    const reflectPreference = () => {
      document.firstElementChild.setAttribute("data-theme", theme.value);
      document
        .querySelector("#theme-toggle")
        ?.setAttribute("aria-label", theme.value);
    };
    const theme = {
      value: getColorPreference(),
    };
    reflectPreference();
    window.onload = () => {
      reflectPreference();
      document.querySelector("#theme-toggle").addEventListener("click", onClick);
    };
    window
      .matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", ({ matches: isDark }) => {
        theme.value = isDark ? "dark" : "light";
        setPreference();
      });
    </script>
    <main id="resume">
      {{> basics }}
      <article id="main">
        <div class="inside">
          {{> summary }}
          {{> experience }}
          {{> projects }}
          {{> education }}
          {{> awards }}
          {{> publications }}
          {{> skills }}
          {{> languages }}
          {{> interests }}
          {{> references }}
        </div>
      </article>
    </main>
    <footer>
      <div class="controls">
        <a
          class="theme-toggle"
          id="theme-toggle"
          aria-label="auto"
          aria-live="polite"
        >Switch theme</a>
        {{#if (ne resume.displayMode "export")}}<a
            href=""
            onclick="window.print();return false;"
          >Export to PDF</a>{{else}}{{/if}}
      </div>
      <p>
        Powered by
        <a href="https://github.com/jsonresume/resume-cli">resume-cli</a>
      </p>
    </footer>
  </body>
</html>
