<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{#resume.basics}}{{name}} - {{label}}{{/resume.basics}}</title>
    {{#resume.basics}}<meta
        name="author"
        content="{{name}}"
      />{{/resume.basics}}
    <style>
      {{{css}}}
    </style>
  </head>
  <body>
    <main id="resume">
      {{> basics }}
      <article id="main">
        <div class="inside">
          {{> summary }}
          {{> experience }}
          {{> projects }}
          {{> education }}
          {{> awards }}
          {{> publications }}
          {{> skills }}
          {{> languages }}
          {{> interests }}
          {{> references }}
        </div>
      </article>
    </main>
    <footer>
      {{#resume.basics}}
        {{#if profiles.length}}
          <div class="profiles">
            {{#each profiles}}
              <a href="{{url}}">{{network}}</a>
            {{/each}}
          </div>
        {{/if}}
      {{/resume.basics}}
      <p id="copyright">
        Powered by
        <a href="https://github.com/jsonresume/resume-cli">resume-cli</a>
      </p>
    </footer>
  </body>
</html>